# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Vector database (generated)
vector_store/

# Logs
*.log